@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #1f1f1f;
  --darker: #181a1e;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #005678;
  --light-success: #bbf7d0;
  --primary: #0d1d31;
  --light-primary: #f8b26a;
  --button-primary: #4e4641;
  --success: #05d9e8;
  --old-primary: #005678;
  --old-light-primary: #05d9e8;
  --old-success: #005678;
  transition: --primary 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1), --light-primary 0.5s 0.2s ease-in-out, --success 0.5s 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  flex-direction: column;
  overflow: hidden;
}

/* BACKGROUND CSS START */

.star:not(.moving) {
  opacity: 0;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.85em;
  --top-offset: 61.57vh;
  --fall-duration: 8.178s;
  --fall-delay: 2.654s;
}
.star:nth-child(2) {
  --star-tail-length: 5.12em;
  --top-offset: 58.32vh;
  --fall-duration: 9.316s;
  --fall-delay: 1.357s;
}
.star:nth-child(3) {
  --star-tail-length: 5.65em;
  --top-offset: 19.86vh;
  --fall-duration: 9.251s;
  --fall-delay: 0.933s;
}
.star:nth-child(4) {
  --star-tail-length: 5.7em;
  --top-offset: 28.22vh;
  --fall-duration: 10.265s;
  --fall-delay: 8.257s;
}
.star:nth-child(5) {
  --star-tail-length: 5.74em;
  --top-offset: 19.59vh;
  --fall-duration: 6.508s;
  --fall-delay: 3.271s;
}
.star:nth-child(6) {
  --star-tail-length: 5.47em;
  --top-offset: 45.21vh;
  --fall-duration: 7.505s;
  --fall-delay: 7.816s;
}
.star:nth-child(7) {
  --star-tail-length: 6.46em;
  --top-offset: 43.19vh;
  --fall-duration: 8.913s;
  --fall-delay: 3.03s;
}
.star:nth-child(8) {
  --star-tail-length: 7.33em;
  --top-offset: 59.21vh;
  --fall-duration: 10.698s;
  --fall-delay: 0.115s;
}
.star:nth-child(9) {
  --star-tail-length: 6.34em;
  --top-offset: 96.19vh;
  --fall-duration: 7.58s;
  --fall-delay: 7.032s;
}
.star:nth-child(10) {
  --star-tail-length: 5.54em;
  --top-offset: 13.65vh;
  --fall-duration: 8.36s;
  --fall-delay: 6.657s;
}
.star:nth-child(11) {
  --star-tail-length: 6.78em;
  --top-offset: 4.67vh;
  --fall-duration: 7.642s;
  --fall-delay: 7.356s;
}
.star:nth-child(12) {
  --star-tail-length: 6.19em;
  --top-offset: 1.98vh;
  --fall-duration: 11.323s;
  --fall-delay: 4.723s;
}
.star:nth-child(13) {
  --star-tail-length: 6.54em;
  --top-offset: 72.78vh;
  --fall-duration: 9.039s;
  --fall-delay: 4.598s;
}
.star:nth-child(14) {
  --star-tail-length: 5.51em;
  --top-offset: 61.6vh;
  --fall-duration: 11.171s;
  --fall-delay: 0.389s;
}
.star:nth-child(15) {
  --star-tail-length: 7.2em;
  --top-offset: 46.67vh;
  --fall-duration: 9.923s;
  --fall-delay: 8.534s;
}
.star:nth-child(16) {
  --star-tail-length: 6.84em;
  --top-offset: 96.12vh;
  --fall-duration: 11.42s;
  --fall-delay: 7.633s;
}
.star:nth-child(17) {
  --star-tail-length: 5.08em;
  --top-offset: 74.2vh;
  --fall-duration: 7.503s;
  --fall-delay: 4.736s;
}
.star:nth-child(18) {
  --star-tail-length: 6.87em;
  --top-offset: 91.18vh;
  --fall-duration: 10.363s;
  --fall-delay: 5.929s;
}
.star:nth-child(19) {
  --star-tail-length: 6.26em;
  --top-offset: 7.07vh;
  --fall-duration: 7.518s;
  --fall-delay: 8.554s;
}
.star:nth-child(20) {
  --star-tail-length: 6.92em;
  --top-offset: 96.43vh;
  --fall-duration: 7.982s;
  --fall-delay: 8.279s;
}
.star:nth-child(21) {
  --star-tail-length: 6.9em;
  --top-offset: 45.18vh;
  --fall-duration: 9.298s;
  --fall-delay: 0.29s;
}
.star:nth-child(22) {
  --star-tail-length: 6.75em;
  --top-offset: 5.28vh;
  --fall-duration: 8.443s;
  --fall-delay: 9.224s;
}
.star:nth-child(23) {
  --star-tail-length: 6.63em;
  --top-offset: 72.97vh;
  --fall-duration: 11.308s;
  --fall-delay: 2.623s;
}
.star:nth-child(24) {
  --star-tail-length: 6.29em;
  --top-offset: 82.1vh;
  --fall-duration: 6.149s;
  --fall-delay: 4.088s;
}
.star:nth-child(25) {
  --star-tail-length: 6.62em;
  --top-offset: 96.95vh;
  --fall-duration: 10.107s;
  --fall-delay: 7.259s;
}
.star:nth-child(26) {
  --star-tail-length: 5.08em;
  --top-offset: 38.19vh;
  --fall-duration: 7.647s;
  --fall-delay: 4.122s;
}
.star:nth-child(27) {
  --star-tail-length: 6.56em;
  --top-offset: 86.89vh;
  --fall-duration: 8.987s;
  --fall-delay: 5.179s;
}
.star:nth-child(28) {
  --star-tail-length: 6.34em;
  --top-offset: 43.51vh;
  --fall-duration: 7.932s;
  --fall-delay: 3.905s;
}
.star:nth-child(29) {
  --star-tail-length: 7.33em;
  --top-offset: 35.78vh;
  --fall-duration: 7.246s;
  --fall-delay: 5.965s;
}
.star:nth-child(30) {
  --star-tail-length: 6.72em;
  --top-offset: 21.08vh;
  --fall-duration: 10.389s;
  --fall-delay: 6.617s;
}
.star:nth-child(31) {
  --star-tail-length: 5.75em;
  --top-offset: 0.13vh;
  --fall-duration: 8.183s;
  --fall-delay: 8.183s;
}
.star:nth-child(32) {
  --star-tail-length: 6.73em;
  --top-offset: 52.48vh;
  --fall-duration: 9.907s;
  --fall-delay: 5.797s;
}
.star:nth-child(33) {
  --star-tail-length: 6.65em;
  --top-offset: 42.71vh;
  --fall-duration: 9.166s;
  --fall-delay: 6.182s;
}
.star:nth-child(34) {
  --star-tail-length: 6.69em;
  --top-offset: 15.05vh;
  --fall-duration: 10.272s;
  --fall-delay: 4.452s;
}
.star:nth-child(35) {
  --star-tail-length: 5.89em;
  --top-offset: 33.17vh;
  --fall-duration: 6.818s;
  --fall-delay: 9.072s;
}
.star:nth-child(36) {
  --star-tail-length: 6.07em;
  --top-offset: 64.36vh;
  --fall-duration: 11.377s;
  --fall-delay: 5.002s;
}
.star:nth-child(37) {
  --star-tail-length: 5.51em;
  --top-offset: 28.01vh;
  --fall-duration: 7.195s;
  --fall-delay: 2.856s;
}
.star:nth-child(38) {
  --star-tail-length: 6.83em;
  --top-offset: 78.43vh;
  --fall-duration: 10.395s;
  --fall-delay: 4.725s;
}
.star:nth-child(39) {
  --star-tail-length: 7.3em;
  --top-offset: 62.17vh;
  --fall-duration: 7.596s;
  --fall-delay: 5.017s;
}
.star:nth-child(40) {
  --star-tail-length: 5.48em;
  --top-offset: 98.31vh;
  --fall-duration: 11.681s;
  --fall-delay: 8.704s;
}
.star:nth-child(41) {
  --star-tail-length: 7.17em;
  --top-offset: 59.5vh;
  --fall-duration: 7.635s;
  --fall-delay: 4.271s;
}
.star:nth-child(42) {
  --star-tail-length: 7.37em;
  --top-offset: 25.31vh;
  --fall-duration: 6.951s;
  --fall-delay: 8.527s;
}
.star:nth-child(43) {
  --star-tail-length: 5.45em;
  --top-offset: 28.2vh;
  --fall-duration: 10.569s;
  --fall-delay: 0.753s;
}
.star:nth-child(44) {
  --star-tail-length: 5.24em;
  --top-offset: 49.13vh;
  --fall-duration: 11.764s;
  --fall-delay: 7.819s;
}
.star:nth-child(45) {
  --star-tail-length: 7.2em;
  --top-offset: 76.25vh;
  --fall-duration: 10.002s;
  --fall-delay: 4.088s;
}
.star:nth-child(46) {
  --star-tail-length: 5.36em;
  --top-offset: 70.83vh;
  --fall-duration: 11.475s;
  --fall-delay: 1.748s;
}
.star:nth-child(47) {
  --star-tail-length: 6.33em;
  --top-offset: 53.93vh;
  --fall-duration: 8.213s;
  --fall-delay: 0.898s;
}
.star:nth-child(48) {
  --star-tail-length: 5.87em;
  --top-offset: 22.18vh;
  --fall-duration: 11.129s;
  --fall-delay: 3.972s;
}
.star:nth-child(49) {
  --star-tail-length: 6.27em;
  --top-offset: 44.11vh;
  --fall-duration: 10.594s;
  --fall-delay: 9.16s;
}
.star:nth-child(50) {
  --star-tail-length: 5.89em;
  --top-offset: 14.07vh;
  --fall-duration: 6.998s;
  --fall-delay: 1.476s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/* BACKGROUND CSS END */

/* FUNCTIONALITY SECTION START */

.home {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 400px;
  padding: 20px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.library {
  background-color: var(--darker);
  color: var(--light);
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: larger;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  padding: 14px;
  margin: 30px;
  z-index: 20;
  height: 60px;
  width: 200px;
}

.mainselect {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  padding: 14px;
  margin: 10px 10px;
  z-index: 20;
  top: 20%;
  left: 0%;
}

.main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.portselect {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 400px;
  padding: 20px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}



.portselect h1 {
  text-align: center;
  margin-bottom: 20px;
}

.portselect p {
  text-align: center;
  margin-bottom: 20px;
}

.portselect .select {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: -15%;
  width: 70%;
  margin: 0 auto;

}

.text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
}

.portselect select {
  position: relative;
  background-color: var(--light);
  color: var(--dark);
  height: 40px;
  margin-bottom: 10px;
  align-items: center;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}


.port p {
  text-align: center;
  margin-bottom: 20px;
  top: 54px;
  position: relative;
  right: 49px;



}

.portselect button {
  background-color: var(--button-primary);
  color: var(--light);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}


.container {
  background-color: var(--dark);
  color: var(--grey);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: var(--grey);
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: var(--button-primary);
  color: var(--light);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: dark;
}

.container form {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: var(--light);
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.data-read {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .data-read {
  transform: translateX(100%);
}

.data-write {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .data-write {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, var(--light-primary), var(--primary));
  color: var(--light);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

.Read {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.3s ease-out;
}

.Read.active {
  background-color: var(--dark-grey);
  color: var(--primary);
  transition: all 0.3s ease-in;
}

.serialStatus.active {
  background-color: var(--dark-grey);
  color: var(--primary);
  transition: all 0.3s ease-in;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.toggle-wrapper span {
  font-size: 14px;
  color: var(--grey);
}

.switch {
  margin-right: 4px;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-grey);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* DROP DOWN MENU */
select{
  position: absolute;
  right: 50px;
  top: 50px;
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

/* FUNCTIONALITY SECTION END */